# Configurações da Aplicação
VITE_APP_TITLE=Controle de Obras
VITE_APP_LOGO=https://placehold.co/128x128/E1E7EF/1F2937?text=App

# Configurações da API
VITE_API_BASE_URL=http://localhost:3000/api

# Ambiente
VITE_ENVIRONMENT=development
